body
{
    background-color: black;
}


#head
{
    margin-top: 3%;
    text-align: center;
    color: white
}


#input
{
    margin-top: .5%;
}


#output
{
    margin-top: 1%;
    text-align: center;
    color: white;
    font-size: 25px;
}

#smol
{
    font-size: 15px;
    color: rgb(60, 60, 60);
}

#head2
{
    font-size: 25px;
    list-style-type: none;
    text-align: center;
    color: darkgray;
    margin-top: 5%;
    color: rgb(100, 100, 100);
}


#input
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#usage ul
{
    margin-top: 1%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    color: rgb(100, 100, 100);
}


#syntax
{
    font-weight: 625;
    margin-top: 5%;
    font-size: 17;
    text-align: center;
    color: rgb(65, 65, 65); 
}

#disclaimer
{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: gray;
}
